version: '3'
services:
  backend:
    build: .
    ports:
      - "3000:3000"
    environment:
      # 关键：连接你刚才创建的数据库
      - DB_HOST=172.17.0.1 # WSL 宿主机 IP
      - DB_NAME=qa_db
      - DB_USER=qa_db
      - DB_PASS=zyt199421